body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin-top: 40px;
}

a {
  display: inline-block;
  margin: 40px 0;
  padding: 12px 24px;
  background: black;
  color: white;
  text-decoration: none;
}
